:root {
    --color1:#025939;
    --color2:#027373;
    --color3:#F2BF27;
    --color4:#044BD9;
    --color5:#F20544;
}
body {
    background-color: #027373;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    justify-content: center;
    background-color: var(--color2);
}
.title {
    text-align: center;
    text-shadow: 0.5px 0.5px 1px black;
}
main {
    background-color: white;
    max-width: 1200px;
}
.container {
       display: flex;
       flex-direction: row;
}
.synthesis_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    text-align: justify;
}
.problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.problems_title {
    font-size: 25px;
}
.problems_text {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.problems_text1 {
    margin: 10px;
    flex: 1;
}